@import '../../assets/styles/color.less';
@import '../../assets/styles/typography.less';
@import '../../assets/styles/common.less';

.bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  // border-top-left-radius: 20rpx;
  // border-top-right-radius: 20rpx;
  background-color: rgba(#fff, 1);
  backdrop-filter: saturate(180%) blur(40rpx);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-in {
  transform: translateY(0);
}

.bottom-out {
  transform: translateY(100%);
  visibility: hidden;
}

.left {
  height: 100%;
  position: fixed;
  left: 0;
  background-color: rgba(#fff, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.left-in {
  transform: translateX(0);
}
.left-out {
  transform: translateX(-100%);
  visibility: hidden;
}

.right {
  height: 100%;
  position: fixed;
  right: 0;
  background-color: rgba(#fff, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.right-in {
  transform: translateX(0);
}
.right-out {
  transform: translateX(100%);
}

.top {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(#fff, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.top-in {
  transform: translateY(0);
}
.top-out {
  transform: translateY(-100%);
}

// .center-wrapper {
//   @include center();
// }

.center {
  border-radius: 8rpx;
  background-color: rgba(#fff, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.center-in {
  transform: scale(1);
}

.center-out {
  transform: scale(0);
}
