// light main
@font-color: rgba(#000, 0.87);

// dark main
@page-bg-color-dark: #121212;
@page-bg-color-dark-2: #2e2e2e;
@font-color-dark: #e0e0e0;
@font-color-dark-2: #a0a0a0;
@card-dark: #1e1e1e;

// light color
@color-primary-100: #d0f2ff;
@color-primary-200: #a2e0ff;
@color-primary-300: #74caff;
@color-primary-400: #51b4ff;
@color-primary-500: #1890ff;
@color-primary-600: #116fdb;
@color-primary-700: #0c53b7;
@color-primary-800: #073a93;
@color-primary-900: #04297a;

@color-success-100: #effbcf;
@color-success-200: #dbf7a2;
@color-success-300: #bbe870;
@color-success-400: #99d24a;
@color-success-500: #6cb519;
@color-success-600: #549b12;
@color-success-700: #40820c;
@color-success-800: #2d6807;
@color-success-900: #215604;

@color-info-100: #daf0fe;
@color-info-200: #b6dffe;
@color-info-300: #92cafd;
@color-info-400: #76b6fb;
@color-info-500: #4a96f9;
@color-info-600: #3674d6;
@color-info-700: #2556b3;
@color-info-800: #173c90;
@color-info-900: #0e2977;

@color-warning-100: #fff8d5;
@color-warning-200: #fff0ab;
@color-warning-300: #ffe581;
@color-warning-400: #ffdb61;
@color-warning-500: #ffca2d;
@color-warning-600: #dba720;
@color-warning-700: #b78616;
@color-warning-800: #93670e;
@color-warning-900: #7a5108;

@color-danger-100: #ffe8d3;
@color-danger-200: #ffcba9;
@color-danger-300: #ffa77e;
@color-danger-400: #ff855d;
@color-danger-500: #ff4c28;
@color-danger-600: #db2e1d;
@color-danger-700: #b71614;
@color-danger-800: #930c15;
@color-danger-900: #7a0717;
