// Type scale
.headline-4() {
  font-size: 68rpx;
  letter-spacing: 0.5rpx;
}
.headline-5() {
  font-size: 48rpx;
}
.headline-6() {
  font-size: 40rpx;
  letter-spacing: 0.3rpx;
}
.subtitle-1() {
  font-size: 32rpx;
  letter-spacing: 0.3rpx;
}
.subtitle-2() {
  font-size: 28rpx;
  letter-spacing: 0.2rpx;
  font-weight: 500;
}
.body-1() {
  font-size: 32rpx;
  letter-spacing: 1rpx;
}
.body-2() {
  font-size: 28rpx;
  letter-spacing: 0.5rpx;
}
.button() {
  font-size: 28rpx;
  font-weight: 500;
  letter-spacing: 2.5rpx;
}
.caption() {
  font-size: 24rpx;
  letter-spacing: 0.8rpx;
}
