@import '../../assets/styles/color.less';
@import '../../assets/styles/typography.less';
@import '../../assets/styles/common.less';

.su-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: background-color, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.35s;
}

.show {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.ble-content {
  z-index: 101;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
