@import '../../assets/styles/color.less';
@import '../../assets/styles/typography.less';
@import '../../assets/styles/common.less';

.su-button {
  .button();
  padding: 0 24rpx;
  margin: 0;
  border-radius: 4rpx;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
}

.inline {
  display: inline-flex;
}

.flat {
  background-color: transparent !important;
  color: @font-color !important;
}

// type
.primary {
  background-color: @color-primary-600;
  color: #fff;
}

.success {
  background-color: @color-success-600;
  color: #fff;
}

.warning {
  background-color: @color-warning-600;
  color: #fff;
}

.danger {
  background-color: @color-danger-600;
  color: #fff;
}

.disabled {
  background-color: #dcdcdc;
  color: #a3a3a3;
}

// size
.small {
  height: 56rpx;
}

.normal {
  height: 72rpx;
}
.large {
  height: 88rpx;
}

// loading
.loading {
  border-radius: 50%;
  border: 4rpx solid #fff;
  border-bottom: 4rpx solid transparent;
  animation: loading 1s infinite linear;
  margin-right: 16rpx;
  height: 24rpx;
  width: 24rpx;
  display: inline-block;
}

.loading-flat {
  border-color: rgba(@font-color, 0.5);
  border-bottom-color: transparent;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  /* DarkMode 下的样式 start */
  .flat {
    color: @font-color-dark !important;
  }
  .su-button {
    filter: brightness(0.8);
  }
  .loading-flat {
    border-color: rgba(@font-color-dark);
    border-bottom-color: transparent;
  }
  /* DarkMode 下的样式 end */
}

.su-button:not([size='mini']) {
  width: auto;
  &::after {
    border: none;
    width: 100%;
    height: 100%;
  }
}
