@import '../../assets/styles/color.less';
@import '../../assets/styles/typography.less';
@import '../../assets/styles/common.less';

.su-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.show {
  background-color: rgba(#000, 0.4);
  visibility: visible;
}

.hidden {
  background-color: rgba(#fff, 0);
  visibility: hidden;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: saturate(180%) blur(40rpx);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-in {
  transform: translateY(0);
}

.bottom-out {
  transform: translateY(100%);
  visibility: hidden;
}

.left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.left-in {
  transform: translateX(0);
}
.left-out {
  transform: translateX(-100%);
  visibility: hidden;
}

.right {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.right-in {
  transform: translateX(0);
}
.right-out {
  transform: translateX(100%);
}

.top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.top-in {
  transform: translateY(0);
}
.top-out {
  transform: translateY(-100%);
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  border-radius: 8rpx;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.center-in {
  transform: scale(1);
}

.center-out {
  transform: scale(0);
}
