@import '../assets/styles/typography.less';
@import '../assets/styles/color.less';

Page {
  font-size: 32rpx;
  letter-spacing: 0.5rpx;
}

.su-card {
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  /* DarkMode 下的样式 start */
  Page {
    color: @font-color-dark;
    background-color: @page-bg-color-dark;
  }

  .su-card {
    background-color: @card-dark;
  }
  /* DarkMode 下的样式 end */
}
